mixin card(data)
  - const {title, text, price, tooltip, img, hasDiscount, discount} = data;
  - const priceFormat = (num) => { return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '\u00a0') + '' }

  .swiper-slide.card&attributes(attributes)
    .card__inner
      h3.card__title !{title}
      p.card__text !{text}
      .card__prices
        if hasDiscount
          .card__old-price !{priceFormat(price.old)}
            span &nbsp;₽
        .card__current-price !{priceFormat(price.current)}
          span &nbsp;₽
    .card__img
      +img(img)
    span.card__discount !{discount} %
    .card__tooltip.js-card-tooltip
      button.js-card-tooltip-button(type="button", aria-label="Показать дополнительную информацию")
        +icon('icon-info', 37, 37)
      .card__tooltip-content.js-card-tooltip-content
        div
          +icon('icon-syringe', 30, 30)
          span привит
        button.btn-reset.js-like-btn(type="button", aria-label="лайков у ёжика")
          +icon('icon-heart', 30, 30)
          span.js-like-count 1235
    .card__button
      button(type="button", aria-label="Добавить в корзину")
        +icon('icon-plus', 40, 40)
